.app{
  width: 100%;
  height: 100vh;
}

.imagenes{
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagenes__title{
  font-size: 2rem;
  font-weight: lighter;
}
.imagenes__picture{
  width: 300px;
}
